@import "../../data/general";

.other-container {
  width: 100%;
  height: auto;

  #other-wrap {
    padding: 82px 0 80px 144px;

    #other-caption {
      color: $color-black;
      font-family: Montserrat-Bold;
      font-size: 40px;
      letter-spacing: -0.3px;
      line-height: 48px;
      text-align: left;
      padding-bottom: 66px;
    }

    .profession-box {
      width: 368px;
      height: 384px;
      position: relative;
      border-radius: 6px;
      border: 1px solid $color-light-gray;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        position: relative;
        top: 50px;
        left: 50px;

      }

      .course-about {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 10;
        min-height: 150px;
        padding: 20px 0 0 20px;
        box-sizing: border-box;
        border: 1px solid $color-light-gray;
        border-radius: 6px 6px 0 0;
        background-color: white;
        box-shadow: 0 3px 30px rgba(0, 0, 0, 0.5);
        cursor: pointer;

        .course-proff {
          color: $color-gray3;
          font-family: Montserrat-Medium;
          font-size: 15px;
          line-height: 24px;
          text-align: left;
        }

        .course-name {
          color: $color-black;
          font-family: Montserrat-Bold;
          font-size: 30px;
          letter-spacing: -0.3px;
          line-height: 32px;
          text-align: left;
          padding: 10px 0;
        }

        .technologies:hover {
          display: block;
        }

        .course-counters,
        .technologies {
          color: $color-black;
          font-family: Montserrat-Medium;
          font-size: 15px;
          line-height: 24px;
          text-align: left;
          white-space: pre;
        }
      }

    }

  }

}