@import "../../data/general";

.main-container {
  width: 100%;
  height: auto;

  .wrap-main {
    max-width: 952px;
    height: auto;
    box-sizing: border-box;
    padding: 60px 30px 250px;
    margin: 0 auto;

    #skills-container {
      width: 100%;
      min-height: 104px;
      box-sizing: border-box;
      padding-left: 48px;
      padding-top: 27px;
      padding-bottom: 27px;
      margin-bottom: 42px;
      background-color: $color-light-blue;

      #necessary {
        color: $color-gray3;
        font-family: Montserrat-SemiBold;
        font-size: 13px;
        line-height: 16px;
        text-align: left;
      }

      #practice {
        color: $color-black;
        font-family: Montserrat-Medium;
        font-size: 16px;
        line-height: 28px;
        text-align: left;
      }
    }

    #title {
      margin-bottom: 18px;
      color: $color-black;
      font-family: Montserrat-Bold;
      font-size: 40px;
      letter-spacing: -0.3px;
      line-height: 48px;
      text-align: left;
    }

    #count {
      margin-bottom: 36px;
      color: $color-black;
      font-family: Montserrat-Medium;
      font-size: 16px;
      line-height: 28px;
      text-align: left;
    }

    input {
      width: 148px;
      height: 47px;
      border: none;
      color: $color-black;
      font-family: Montserrat-Medium;
      font-size: 15px;
      line-height: 26px;
      text-align: center;
      cursor: pointer;
    }

    input.selected {
      border-bottom: 2px solid $color-blue;
      color: $color-blue;
    }

    input:hover {
      color: $color-blue;
    }

  }
}

@media screen and (max-width: 812px) {
  .main-container .wrap-main {
    padding: 30px 30px 70px;
    margin: 0 auto;
  }
}

