$color-light-gray: #DADCE0;
$color-light-gray2: #f8f8f8;
$color-light-blue: rgba(100, 149, 237, 0.2);
$color-gray1: #3C4043;
$color-gray2: #5F6368;
$color-gray3: #8D9099;
$color-blue-gray: #2A3440;
$color-blue: #0A54FF;
$color-lime: #E1FF00;
$color-black: #202124;
